[[source]] # Here goes your package sources (where you are downloading your packages from).
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages] # Here goes your package requirements for running the applibookion and its versions (which packages you will use when running the applibookion).
#requests = "*"
#pandas = "*"
#os = "*"
#connexion = "*"
#datetime = "*"

flask = "*"
Flask-SQLAlchemy = "*"
psycopg2 = "*"

#flask-marshmallow = "*"
#marshmallow-sqlalchemy = "*"
#marshmallow = "*"

[dev-packages] # Here goes your package requirements for developing the applibookion and its versions (which packaes you will use when developing the applibookion)

[requires] # Here goes your required Python version.
python_version = "3.6"
